{% extends "news_admin/base.html" %}
{% block extra_style %}
  <style>
      ul {
          color: red;
      }

      label {
          font-weight: 800;
          margin-top: 10px;
          margin-bottom: 10px;
      }
  </style>
{% endblock extra_style %}
{% block content %}

  {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show mt-3"
         role="alert">
      {{ form.non_field_errors }}
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  {% endif %}

  <form action="" method="post" class="m-2">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      {{ form.username.errors }}
      <input type="text"
             class="form-control"
             name="username"
             placeholder="Enter your username..." />
      {{ form.username.errors }}
    </div>
    
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      {{ form.password.errors }}
      <input type="password"
             class="form-control"
             name="password"
             placeholder="Enter your password..." />
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
{% endblock content %}
