{% load static %}

{% block extra_css %}
  <style>
      .profileImage {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #512DA8;
          font-size: 35px;
          color: #fff;
          text-align: center;
          line-height: 70px;
          margin: 20px 0;
          display: inline-block;
      }
  </style>
{% endblock extra_css %}

<div class="comments-area">
  <h4>{{ post.comment_set.count }} Comments</h4>
  {% for comment in post.comment_set.all %}
    <div class="comment-list">
      <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
          <div class="thumb">
            <div class="profileImage">{{ comment.initials }}</div>
          </div>
          <div class="desc">
            <p class="comment">{{ comment.comment }}</p>
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <h5>
                  <a href="#">{{ comment.name }}</a>
                </h5>
                <p class="date">{{ comment.created_at }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
